@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish&family=Nunito+Sans:wght@700&display=swap');
:root {
    --background-color : #eaecf9;
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #a8b4ff;
}

/* Utils */
* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.half-highlight,
.half-highlight-h {
    background: linear-gradient(to top, var(--tertiary-color) 50%, transparent 50%);
}

.half-highlight-h:hover {
    background: var(--tertiary-color);
    transition: 0.5s ease-in;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}   

.show {
    opacity: 1;
}

/* Main Container */
#main-container {
    background: var(--background-color);
    width: 95%;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
}

#main-inner-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    display: flex;
    list-style-type: none;
}

#nav-bar li {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

#intro-container {
    display: flex;
    margin-top: 90px;
}

#intro-header h1 {
    font-family: Abril Fatface;
    font-size: 56px;
    font-weight: 400;
}

#intro-desc p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    margin-top: 25px;
    margin-bottom: 60px;
}

#intro-btn a {
    color: var(--primary-color);
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
    padding: 15px 40px;
    background: var(--secondary-color);
}

#intro-btn-outline {
    width: 185px;
    height: 55px;
    border: 2px solid var(--secondary-color);
    margin-top: -30px;
    margin-left: 10px;
}

/* Project Container */
.project-container {
    width: 75%;
    margin: auto;
    padding: 250px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-category {
    color: #b7b4b9;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.project-name h1 {
    font-family: Abril Fatface;
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 26px;
}

.project-tags ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 38px;
}

.project-tags li {
    font-family: Mulish;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 6px 10px;
    background: var(--tertiary-color);
    margin-right: 16px;
}

.project-desc {
    margin-bottom: 64px;
}

.project-desc p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 2; 
    padding-right: 150px;
}

.project-btn a {
    color: var(--primary-color);
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
    padding: 16px 38px;
    background: var(--secondary-color);
}

.project-btn-outline {
    height: 57px;
    width: 203px;
    border: 2px solid var(--secondary-color);
    margin-left: 10px;
    margin-top: -30px;
}

.project-pic-1,
.project-pic-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/dot_pattern.png) no-repeat;
    background-size: 108px 200px; 
}
.project-pic-1 {
    background-position-x: 10px;
    background-position-y: 230px;

}

.project-pic-2 {
    background-position-x: 10px;
    background-position-y: 255px;
}

/* Footer Container */
footer {
    background: var(--background-color);
    width: 95%;
    height: 370px;
    margin: auto;
    margin-bottom: 40px;
}

#footer-inner-container {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-inner-container h1 {
    font-family: Abril Fatface;
    font-size: 56px;
    font-weight: 400;
}

#footer-inner-container p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

/* Media Query */

/* Small Devices (e.g., larger smartphones and portrait-oriented tablets): */
@media (max-width: 576px) { 
    #nav-bar-container li {
        display: none;
    }

    #intro-header h1 {
        margin-bottom: 50px;
    }

    .project-desc p {
        padding-right: 0px;
    }

    .project-container img {
        display: none;
    }

    #footer-inner-container {
        display: flex;
        flex-direction: column;
    }

    #footer-inner-container h1 {
        font-size: 40px;
    }

    #footer-inner-container p {
        font-size: 14px;
        padding: 40px 0px;
    }
}

/* Medium Devices (e.g., landscape-oriented tablets and smaller laptops): */
@media (max-width: 768px) {
    #intro-desc p {
        display: none;
    }
}