@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish&family=Nunito+Sans:wght@700&display=swap');
:root {
    --background-color : #eaecf9;
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #a8b4ff;
}

/* Utils */
* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.half-highlight,
.half-highlight-h {
    background: linear-gradient(to top, var(--tertiary-color) 50%, transparent 50%);
}

.half-highlight-h:hover {
    background: var(--tertiary-color);
    transition: 0.5s ease-in;
}

#status-green {
    color: #7cfc00;
}

#status-red {
    color: #f00;
}

/* Project Container */

#project-container {
    width: 75%;
    margin: auto;
}   

#back-arrow-container i {
    margin-right: 10px;
}

#back-arrow-container a {
    font-family: Mulish;
    font-weight: 700;
}

#project-status {
    color: #b7b4b9;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 20px 0px;
}

#project-status i {
    margin-right: 10px;
}

#project-title {
    font-family: Abril Fatface;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

#project-tags {
    display: flex;
    list-style-type: none;
    margin-bottom: 40px;
}

#project-tags li {
    padding: 6px 10px;
    background: var(--tertiary-color);
    margin-right: 16px;
    font-family: Mulish;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
}

#about-container p,
#desc-container p,
#summary-container p,
#def-container p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

#back-arrow-container,
#about-container, 
#tools-container,
#pic-container,
#desc-container,
#video-container,
#summary-container,
#def-container {
    margin: 40px 0px;
}

#about-container h1, 
#def-container h1,
#tools-container h1,
#desc-container h1,
#video-container h1,
#summary-container h1,
#pic-container h1 {
    margin: 10px 0px;
}


#tools-container ul {
    margin-left: 70px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

#pic-container figcaption {
    margin-bottom: 20px;
}

.ui-pic,
#ui-vid {
    text-align: center;
}


#left-arrow-icon {
    color: var(--secondary-color);
}

/* Media Query */

/* Small Devices (e.g., larger smartphones and portrait-oriented tablets): */
@media (max-width: 576px) {
    iframe {
        width: auto;
        height: auto;
    } 
}
